@import "src/app/base";


@mixin btnLink ($bgColor, $shadowColor) {
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 17px 57px 22px;
  margin-top: 64px;

  background-color: $bgColor ;
  border-radius: 11px;
  box-shadow: inset 0 -10px 0 $shadowColor;

  a {
    width: 100%;
    height: 100%;
    color: black;
    font-weight: bold;
  }
}

.yellowBtn {
  @include btnLink($orange, $orange-shadow)
}

.greenBtn {
  @include btnLink($green, $green-shadow)
}