@use "../../assets/base" as *;

.paginationBox {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  margin-top: 2%;
  padding: 20px 0;
  background-color: #fff;

  > *:not(:first-child) {
    margin-left: 20px;
  }

  button {
    padding: 10px 20px;
    border-radius: 8px;
    border: none;
    background-color: $secondary-color;
  }
}