@use "../../assets/base" as *;

.paginationBox {
  display: flex;
  margin-top: 2%;
  padding-bottom: 30px;

  > *:not(:first-child) {
    margin-left: 20px;
  }

  button {
    padding: 10px 20px;
    border-radius: 8px;
    border: none;
    background-color: $secondary-color;
  }
}