@use "../../assets/base" as *;

.loaderBox {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 100px;

  .loader {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 60%;
    height: 200px;
    margin-top: 20px;
    border-radius: 10px;
    text-align: center;
    background-color: $secondary-color;
  }
}

