//Основные переменные
$main-color: #1F2A63;
$dark-bg-color: #17002F;
$secondary-color: #F2F2F2;
$blue: #07D6F2;
$purple: #C956FF;
$green: #73D677;
$yellow: #F5DB13;
$nav-link-line-color: #CFDAB0;

$main-g-padding: 157px;