//Основные переменные
$main-color: #1F2A63;
$dark-bg-color: #17002F;
$secondary-color: #F2F2F2;
$blue: #07D6F2;
$purple: #C956FF;
$green: #73D677;
$yellow: #F5DB13;
$nav-link-line-color: #CFDAB0;

$main-g-padding: 157px;

$heightNavBar: 93px;

@mixin pageBase ($paddingTop, $bgColor) {
  position: relative;
  height: calc(100vh - $heightNavBar);
  padding: $paddingTop  $main-g-padding;
  background: $bgColor;
  z-index: 1;
}

@mixin adaptivePagePadding ($sizeWindow, $paddingV, $paddingG) {
  @media (max-width: $sizeWindow) {
    padding: $paddingV $paddingG;
  }
}

@mixin adaptiveText ($sizeWindow, $fontSize, $fontWeight: normal) {
  @media (max-width: $sizeWindow) {
    font-size: $fontSize;
    font-weight: $fontWeight;
  }
}

@mixin paddingTop ($sizeWindow, $pt) {
  @media (max-width: $sizeWindow) {
    padding-top: $pt;
  }
}