@import "src/app/base";

.navbar {
  position: relative;

  height: $heightNavBar;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px $main-g-padding;

  background-color: $main-color;
  border-bottom: 2px solid transparent;
  box-shadow: 0 4px 10px rgba(224, 221, 221, 0.35);

  z-index: 10;
}


.boxLinksNav {
  width: 300px;
  height: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
}


.logoBox {
  width: 150px;
  height: 90px;

  display: flex;
  justify-content: center;
  align-items: center;
}