@import "src/app/base";

.navbar {
  height: 93px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px $main-g-padding;

  background-color: $main-color;
  box-shadow: 0 8px 8px 0 rgba(241, 241, 241, 0.2);
}


.boxLinksNav {
  width: 300px;
  height: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
}


.logoBox {
  width: 150px;
  height: 90px;

  display: flex;
  justify-content: center;
  align-items: center;
}