@use "../../assets/base" as *;

.modalW {
  position: fixed;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 100vw;
  height: 100vh;
  background-color: rgba(33, 33, 33, 0.41);
  z-index: 10;

  .modalBox {
    position: relative;
    width: 800px;
    height: 420px;

    .closeBtn {
      position: absolute;
      top: 0;
      right: 0;
      background-color: transparent;
      border: none;
      cursor: pointer;
    }

    .modalInfo {
      position: absolute;
      bottom: 0;
      display: grid;
      grid-template-columns: 45% 1fr;

      width: 100%;
      height: 370px;

      .imagePers {
        position: relative;
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
        background-color: $main-color;

        img {
          position: absolute;
          top: 30px;
          left: 50%;
          transform: translate(-50%);
        }

        .tagsBox {
          position: absolute;
          bottom: 16px;
          right: 14px;
          display: flex;

          > *:not(:first-child) {
            margin-left: 5px;
          }
        }
      }

      .infoPers {
        position: relative;
        padding: 30px 12px;
        border-top-right-radius: 16px;
        border-bottom-right-radius: 16px;
        background: linear-gradient($dark-bg-color, $main-color);

        .namePers {
          font-size: 36px;
          color: white;
        }

        .whiteBoxInfo {
          width: 264px;
          height: fit-content;
          margin-top: 20px;
          padding: 15px 23px;
          background-color: white;
          border-radius: 8px;

        }

        .massHeight {
          display: flex;
          position: absolute;
          bottom: 25px;

          > *:not(:first-child) {
            margin-left: 25px;
          }

          .bgWhiteInfo {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 85px;
            height: 70px;
            background-color: white;
            border-radius: 8px;
          }
        }

      }

    }
  }



}

