@use "../../assets/base" as *;

.elInfoPers {
  display: flex;
  flex-direction: column;
}

.infoValue {
  display: flex;
  justify-content: center;
  align-items: center;

  min-width: 38px;
  width: fit-content;
  height: 36px;
  border: 3px black solid;
  border-radius: 50%;
}

.infoName {
  margin-top: 5px;
  font-size: 12px;
  color: #4B4B4B;
}