@use "../../assets/base" as *;


.charactersPage {
  @include pageBase(28px, white);
  @include adaptivePagePadding(1600px, 3%, 10%);

  .boxListCharacters {

    @media (max-width: 2560px) {
      display: flex;
      justify-content: center;
    }
  }

  .titleCharactersList {
    display: flex;
    justify-content: center;
    padding-top: 28px;

    h1 {
      font-size: 35px;
      text-shadow: 0 2px 2px rgba(0, 0, 0, 0.31);

      strong {
        font-weight: 800;
      }
    }
  }
}