@import "src/app/base";

.cardCharacter {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 352px;
  height: 137px;
  padding: 5px 25px 12px;
  margin-top: 45px;

  border-radius: 8px;
  background-color: $secondary-color;

  .title {
    font-size: 18px;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.12);
  }

}

.tags {
  display: flex;

  > *:not(:first-child) {
    margin-left: 5px;
  }
}

.infoBox {
  display: flex;
  justify-content: space-between;
  width: 90px;
}
